* {
  --sliderWidth: 600px;
  --sliderLineHeight: 2px;
  --sliderLineActiveHeight: 6px;
  --circleSize: 20px;
  --inputSize: 30px;


  margin: 0;
  padding: 0;

  font-family: 'Barlow', sans-serif;

  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;     
  -ms-user-select: none;       
  user-select: none; 
}


.slider {
  margin: auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

}

.slider-line {
  width: var(--sliderWidth);
}

.slider-line__title {
  margin: auto;
  /*width: calc(var(--sliderWidth) - (var(--circleSize) / 2));*/

  font-weight: 600;
}

.slider-line__line {
  margin: auto;
  padding-right: 15px;
  height: var(--circleSize);
  /*width: calc(var(--sliderWidth) - (var(--circleSize) / 2));*/
}

.slider-line__circle {
  cursor: pointer;

  display: block;
  position: relative;
  z-index: 3;
  top: calc((var(--circleSize) / 2) - (var(--circleSize) / 2));
  
  height: var(--circleSize);
  width: var(--circleSize);
  
  border: solid 1px rgba(0,0,0,0.3);
  border-radius: 100%;
  background: white;
}

.slider-line__active-hr {
  display: block;
  position: relative;
  z-index: 2;
  top: calc((var(--circleSize) / 2) - (var(--sliderLineActiveHeight) / 2) - var(--circleSize));
  
  height: var(--sliderLineActiveHeight);

  border: none;
  border-radius: 3px;
  background: #00417a;
}

.slider-line__hr {
  display: block;
  position: relative;
  z-index: 1;
  top: calc((var(--circleSize) / 2) - (var(--sliderLineHeight) / 2) - var(--sliderLineActiveHeight) - var(--circleSize));
  
  height: var(--sliderLineHeight);  

  border: none;
  background: gray;
}

.slider-line__markups {
  display: flex;
}

.slider-line__mark {
  height: 20px;
  font-size: 9pt;
}

.slider-line__mark-line {
  position: relative;
  height: 5px;
  width: 1px;
  background: rgb(160,160,160);
}

.slider-line__mark-line--label {
  position: relative;
  height: 8px;
  width: 1px;
  background: black;
}

.slider-mark__p {
  font-size: 9pt;
  font-weight: 600;
}

.slider-value {
  display: flex;
  position: relative;
  top: calc(var(--inputSize) / 2);
  justify-content: right;
}

.slider-value__input {
  width: 100px;
  height: var(--inputSize);

  text-align: center;
  font-size: 16pt;

  border: solid 1px black;
  border-radius: 6px;
}
